<% if flash[:notice] %>
	<div class="alert alert-success" role="alert">
		<%= flash[:notice] %>
	</div>
<% end %>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>			
		<%= render @products %>		
	</tbody>
</table>

<%= link_to "Add Product", new_product_path %>
