<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Amount</th>
		</tr>
	</thead>
	<tbody>			
		<% @products.each do |p| %>
			<tr>
				<th><%= p.name %></th>
				<th><%= p.description %></th>
				<th><%= p.price %></th>
				<th><%= p.amount %></th>
			</tr>
		<% end %>			
	</tbody>
</table>
