<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>			
		<%= render @products_search %>		 
	</tbody>
</table>

<%= link_to "Add Product", new_product_path %>
